{% extends 'blog/base.html' %}

{% block content %}
    <div class = "container">
        <div class="blog-contents-wrapper">
          <div class="blog-container">
            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">新しい子可愛い🌿<a href="https://twitter.com/Elmyr_Alwen?ref_src=twsrc%5Etfw">@Elmyr_Alwen</a> <a href="https://t.co/nfY8EZEowc">pic.twitter.com/nfY8EZEowc</a></p>&mdash; ( &#39;∞&#39;o[ 鴨。は2日目東ネ27aに居ます]o (@wild_duck) <a href="https://twitter.com/wild_duck/status/1067439881855492096?ref_src=twsrc%5Etfw">November 27, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
    </div>
{% endblock %}