{% extends 'blog/base.html' %}
{% block content %}
    <div class="top-wrapper">
      <div class="container">
          <h1>WELCOME TO VBI-MAN WEB SITE</h1>
          <h1>I'M SO HAPPY</h1>
          <p>エルミアの勉強用の自作サイトです</p>
          <p>ゆっくりしていってね！</p>
      </div>
    </div>
    <div class="main-contents-wrapper">
      <div class="container">
        <div class="heading">
          <h2>Dive to Elmyr</h2>
          <a href="https://www.youtube.com/channel/UCcxtutnGL15EgUr5s-j4W4g" class="btn youtube" target="_blank"><span class="fa fa-youtube"></span>Youtube</a>
          <a href="https://twitter.com/Elmyr_Alwen" class="btn twitter"><span class="fa fa-twitter" target="_blank"></span>Twitter</a>
        </div>
        <div class="main-contents">
          <div class="left-column">
            <div class="lesson-icon">
              <h1>News</h1>
            </div>
            <p class="text-contents">
              2018.11.23 <br>
              BLOGページを追加しました。<br>
            </p>
            <p class="text-contents">
              2018.11.11 <br>
              ようやくサイトを立ち上げました。<br>
              どんどん改良していきます。<br>
              近い内にロードマップも追加します。<br>
            </p>
          </div>
          <div class="right-column">
            <div class="lesson-icon">
              <a class="twitter-timeline" data-height="512" href="https://twitter.com/Elmyr_Alwen?ref_src=twsrc%5Etfw">Tweets by Elmyr_Alwen</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="faq-wrapper">
      <div class="container">
        <div class="heading">
          <h2>あまり聞かれないFAQ</h2>
        </div>
        <div class="faq">
          <ul id="faq-list">
            <li class="faq-list-item">
              <h3 class="question">設定？</h3>
              <span>+</span>
              <div class="answer">
                <p>
                  狼人とダークエルフのハーフ(?)<br>
                  チビモード：狼人<br>
                  大人モード：ダークエルフ<br>
                  頑張って大人モードのアバターも作ります
                </p>
              </div>
            </li>
            <li class="faq-list-item">
              <h3 class="question">パソコンスペックなど</h3>
              <span>+</span>
              <div class="answer">
                <p>
                  プロセッサ：i7-6700<br>
                  メモリ：8GB<br>
                  グラボ：GeForce1060 6GB<br>
                  体：<a href="https://twitter.com/Stella_Gate_VT" target="_blank">ステラ・ゲートさん</a>製作
                  マイク：PCV80U ECM-PCV80U
                  ボイチェン(?)：VSTHost（reafir - LittleAlterBoy - reaeq)
                  仮想ミキサー：VoiceMeeter Banana
                  WEBカメラ：PAPALOOK PA452 Pro
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}