{% extends 'blog/base.html' %}

{% block content %}
    <div class = "container">
        <div class="blog-contents-wrapper">
          <div class="blog-container">
            <div class="post">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                {% if post.published_date %}
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                {% endif %}
                <h1>{{ post.title }}</h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}